{
	"extends": "airbnb",
	"parser": "babel-eslint",
	"plugins": [
		"react"
	],
	"parserOptions": {
		"ecmaVersion": 6,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"env": {
		"browser": true,
		"amd": true,
		"es6": true,
		"node": true,
		"mocha": true
	},
	"rules": {
		"linebreak-style": ["error", "windows"],
		"indent": ["error", "tab"],
		"react/jsx-indent": ["error", "tab"],
		"react/jsx-indent-props": ["error", "tab"],
		"no-tabs": "off",
		"comma-dangle": ["error", "never"],
		"react/no-unused-prop-types": ["error", { "skipShapeProps": true }]
	}
}
